<% include ./header.ejs %>
    
<div class="event-add-container">
    <form method="POST" action="/test/upload" enctype="multipart/form-data">
        <div class="event-add-sector-container">
            <div class="event-add-sector" id="event-add-title">
                <div class="event-add-title">
                    <label>Event Detail</label>
                </div>
                <div class="event-add-content-container">
                    <div class="event-add-content">
                        <div class="event-add-sub-title event-add-required">Event Title</div> 
                        <div class="event-add-content-text">
                            <input type="text" name="title" placeholder="Event Title">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-sub-title">Event Title Image</div> 
                        <div class="event-add-content-img">
                            <div class="event-add-content-title-upload">
                                <label><i class="fa fa fa-upload"></i>Choose File...
                                    <input class="event-add-content-title-image file-upload-input" accept="image/*" type="file" name="event_title_img">
                                </label>
                            </div>
                            <div class="event-add-content-title-image-preview-container">
                                <div class="event-add-content-title-image-preview" style="background-position: center;background-size:contain;"></div>
                                <div class="event-add-content-title-image-preview-desc">
                                    <div class="event-add-content-title-image-preview-name">
                                        <div class="event-add-content-title-image-preview-title">File Name</div>
                                        <div class="event-add-content-title-image-preview-content"></div>
                                    </div>
                                    <div class="event-add-content-title-image-preview-size">
                                        <div class="event-add-content-title-image-preview-title">File Size</div>
                                        <div class="event-add-content-title-image-preview-content"></div>
                                    </div>
                                </div>
                                <div class="float-clear-both"></div>
                            </div>
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-sub-title event-add-required">Event Summary</div> 
                        <div class="event-add-content-textarea">
                            <textarea class="event-add-content-textarea-message" name="event_summary" placeholder="Event summary"></textarea>
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-sub-title event-add-required">Event Description</div> 
                        <div class="event-add-content-textarea">
                            <textarea class="event-add-content-textarea-message textarea-editor" name="event_summary" placeholder="Event Description"></textarea>
                            <div class="event-add-error">error</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-add-sector" id="event-add-category">
                <div class="event-add-title event-add-required">
                    <label>Event Category</label>
                </div>
                <div class="event-add-content-container event-add-new">
                    <div class="event-add-content">
                        <i class="fa fa-close"></i>
                        <div class="event-add-content-category-parent"></div>
                        <div class="event-add-content-text">
                            <input type="text" autocomplete="off" class="event-add-content-category-title" name="category_title[]" placeholder="Search Event Category"> 
                            <input type="hidden" class="event-add-content-category-id" name="category_id[]">
                        </div>
                        <div class="event-add-content-search-container">
                            <ul class="event-add-content-search"></ul>
                        </div>
                        <div class="event-add-error">error</div>
                    </div>
                </div>
                <div class="event-add-content event-add-content-button">
                    Add Category
                </div>
            </div>
            <div class="event-add-sector" id="event-add-date">
                <div class="event-add-title">
                    <label>Event Date</label>
                </div>
                <div class="event-add-content-container event-add-new">
                    <div class="event-add-content">
                        <i class="fa fa-close"></i>
                        <div class="event-add-sub-title event-add-required">Date</div> 
                        <div class="event-add-content-text event-add-content-text-half">
                            <input type="text" autocomplete="off" name="date_start[]" class="event-add-date-input start-calendar"placeholder="Start date">
                            <input type="text" autocomplete="off" name="date_end[]"class="event-add-date-input end-calendar" placeholder="End Date">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-sub-title event-add-required">Time</div> 
                        <div class="event-add-content-text event-add-content-text-half">
                            <input type="text" autocomplete="off" name="time_start[]" placeholder="ex)09:00AM">
                            <input type="text" autocomplete="off" name="time_end[]" placeholder="ex)20:00PM">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-sub-title event-add-required">Description</div> 
                        <div class="event-add-content-text">
                            <input type="text" name="date_description" placeholder="Event Description">
                            <div class="event-add-error">error</div>
                        </div>
                    </div>
                </div>
                <div class="event-add-content event-add-content-button">
                    Add Date
                </div>
            </div>
            <div class="event-add-sector" id="event-add-artist">
                <div class="event-add-title">
                    <label>Artists</label>
                </div>
                <div class="event-add-content-container event-add-new">
                    <div class="event-add-content">
                        <i class="fa fa-close"></i>
                        <div class="event-add-content-text">
                            <input type="text" class="event-add-content-artist-name" name="artist_name[]" placeholder="Search Artist">
                            <input type="hidden" class="event-add-content-artist-id" name="artist_id[]">
                        </div>
                        <div class="event-add-content-search-container">
                            <ul class="event-add-content-search"></ul>
                        </div>
                        <div class="event-add-error">error</div>
                    </div>
                </div>
                <div class="event-add-content event-add-content-button">
                    Add Artist
                </div>
            </div>
        </div>
        <div class="event-section-container">
            <div class="event-add-sector" id="event-add-place">
                <div class="event-add-title">
                    <label>Place</label>
                </div>
                <div class="event-add-content-container event-add-new">
                    <div class="event-add-content">
                        <i class="fa fa-close"></i>
                        <div class="event-add-sub-title event-add-required">Place Name</div> 
                        <div class="event-add-content-text">
                            <input type="text" name="place_name[]" placeholder="Plcae Name">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-sub-title event-add-required">Address</div> 
                        <div class="event-add-content-text">
                            <input type="text" name="place_address1[]" placeholder="Address 1">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-content-text">
                            <input type="text" name="place_address2[]" placeholder="Address 2">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-content-text">
                            <input type="text" name="place_city[]" placeholder="City">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-content-text">
                            <input type="text" name="place_state[]" placeholder="State/Province">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-content-text">
                            <input type="text" name="place_zip[]" placeholder="Zip Code/Post Code">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-content-serch">
                            <input type="text" name="place_country[]" placeholder="Country">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-sub-title">Place Description</div> 
                        <div class="event-add-content-textarea">
                            <textarea class="event-add-content-textarea-message" name="palce_description[]" placeholder="Event place summary"></textarea>
                            <div class="event-add-error">error</div>
                        </div>
                    </div>
                </div>
                <div class="event-add-content-button">
                    Add Place
                </div>
            </div>
        </div>
        <div class="event-add-sector-container">
            <div class="event-add-sector" id="event-add-ticket">
                <div class="event-add-title">
                    <label>Event Tickets</label>
                </div>
                <div class="event-add-content-container">
                    <div class="event-add-sub-title">Ticket Typeevent-add-required</div> 
                    <div class="event-add-content-radio">
                        <div class="event-add-content-radio-container">
                            <input class="event-add-content-radio" name="ticket_option" type="radio" value="paid" checked="checked"><label>Paid</label>
                        </div>
                        <div class="event-add-content-radio-container">
                            <input class="event-add-content-radio" name="ticket_option" type="radio" value="free"><label>Free - Ticketing Rquired but free</label>
                        </div>
                        <div class="event-add-content-radio-container">
                            <input class="event-add-content-radio" name="ticket_option" type="radio" value="open"><label>Open - No Ticketing for the event</label>
                        </div>
                        <div class="event-add-error">error</div>
                    </div>
                </div>
                <div class="event-add-content-container event-add-new">
                    <div class="event-add-content">
                        <i class="fa fa-close"></i>
                        <div class="event-add-sub-title event-add-required">Ticket Type</div> 
                        <div class="event-add-content-text">
                            <input type="text" name="ticket_type[]" placeholder="Plcae Name">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-sub-title event-add-content-ticket-price">Ticket Price</div> 
                        <div class="event-add-content-text event-add-content-text-half event-add-content-ticket-price">
                            <input type="text" name="ticket_currency[]" class="event-add-date-input start-calendar"placeholder="currency">
                            <input type="text" name="ticket_price[]"class="event-add-date-input end-calendar" value="0.00">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-sub-title event-add-required">Capacity</div> 
                        <div class="event-add-content-text">
                            <input type="text" name="ticket_capacity[]" placeholder="Plcae Name">
                            <div class="event-add-error">error</div>
                        </div>
                        <div class="event-add-sub-title">Ticket Description</div> 
                        <div class="event-add-content-textarea">
                            <textarea class="event-add-content-textarea-message" name="ticket_desc[]" placeholder="Event Description"></textarea>
                            <div class="event-add-error">error</div>
                        </div>
                    </div>
                </div>
                <div class="event-add-content-button">
                    Add Ticket
                </div>
            </div>
        </div>
        <div class="event-add-sector" id="event-add-url">
            <div class="event-add-title">
                <label>URLs</label>
            </div>
            <div class="event-add-content-container event-add-new">
                <div class="event-add-content">
                    <i class="fa fa-close"></i>
                    <div class="event-add-sub-title">Url</div>
                    <div class="event-add-content-text">
                        <input type="text" name="url[]" placeholder="Url">
                        <div class="event-add-error">error</div>
                    </div>
                    <div class="event-add-sub-title">Url Type</div>
                    <div class="event-add-content-text">
                        <input type="text" name="type[]" placeholder="Url Type">
                        <div class="event-add-error">error</div>
                    </div>
                </div>
            </div>
            <div class="event-add-content event-add-content-button">
                Add Url
            </div>
        </div>
        <div class="event-add-sector" id="event-add-contact">
            <div class="event-add-title">
                <label>Contacts</label>
            </div>
            <div class="event-add-content-container event-add-new">
                <div class="event-add-content">
                    <i class="fa fa-close"></i>
                    <div class="event-add-sub-title event-add-required">Contact Name</div>
                    <div class="event-add-content-text">
                        <input type="text" name="contact_name[]" placeholder="Nmae of Company, Organization or Person">
                        <div class="event-add-error">error</div>
                    </div>
                    <div class="event-add-sub-title event-add-required">Contact Description</div>
                    <div class="event-add-content-text">
                        <input type="text" name="contact_desc[]" placeholder="Description of Contact">
                        <div class="event-add-error">error</div>
                    </div>
                    <div class="event-add-sub-title event-add-required">Phone</div>
                    <div class="event-add-content-text">
                        <input type="text" name="contact_desc[]" placeholder="Description of Contact">
                        <div class="event-add-error">error</div>
                    </div>
                    <div class="event-add-sub-title event-add-required">Email</div>
                    <div class="event-add-content-text">
                        <input type="text" name="contact_desc[]" placeholder="Description of Contact">
                        <div class="event-add-error">error</div>
                    </div>
                </div>
            </div>
            <div class="event-add-content event-add-content-button">
                Add Contact
            </div>
        </div>
        <button type="submit">submit</button>
    </form>
</div>

<% include ./footer.ejs %>