<% include ./header.ejs %>

<div class="event-add-container">
    <form class="event-add-form" method="POST" action="/upload" enctype="multipart/form-data">
        <div class="event-add-sector-container">
            <div class="event-add-sector">
                <div class="event-add-main-title">Event Detail</div>
                <div class="event-add-sector-body">
                    <div class="event-add-sub-sector-container">
                        <div id="event_add_detail" class="event-add-content-container">
                            <div id="event_add_detail_event_title" class="event-add-content">
                                <div class="event-add-sub-content event-add-required">
                                    <div class="event-add-sub-title event-add-required-title">Event Title</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name='event_title' placeholder="Event Title">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Event title must not be empty</div>
                                    </div>
                                </div>
                            </div>
                            <div id="event_add_detail_event_image" class="event-add-content">
                                <div class="event-add-sub-content">
                                    <div class="event-add-sub-title">Event Image</div>
                                    <div class="event-add-sub-content event-add-searchable-content">
                                        <div class="event-add-sub-content-input-container">       
                                            <div class="event-add-upload">
                                                <div class="event-add-upload-label-container">
                                                    <label><i class="fa fa-upload"></i>Choose File...
                                                        <input class="event-add-sub-content-input event-add-input-img event-add-input-button" accept="image/*" type="file" name="event_title_image1">
                                                    </label>
                                                </div>
                                                <div class="event-add-image-preview-list image-single"></div>
                                            </div>
                                        </div>
                                        <div class="alert-msg-container">
                                            <div class="alert-msg alert-msg-error alert-msg-error-type-file">Event title must not be empty or must be selected</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="event_add_detail_event_summary" class="event-add-content">
                                <div class="event-add-sub-content event-add-required">
                                    <div class="event-add-sub-title event-add-required-title">Event Summary</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name='event_summary' placeholder="Event Summary">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Event summary must not be empty</div>
                                    </div>
                                </div>
                            </div>
                            <div id="event_add_detail_event_description" class="event-add-content">
                                <div class="event-add-sub-content event-add-required">
                                    <div class="event-add-sub-title event-add-required-title">Event Description</div>
                                    <div class="event-add-sub-content-input-container">
                                        <textarea class="event-add-sub-content-input event-add-input-text" name='event_desc' placeholder="Event Description"></textarea>
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Event description must not be empty</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-add-sector">
                <div class="event-add-main-title event-add-required-title">Category</div>
                <div class="event-add-sector-body">
                    <div class="event-add-sub-sector-container event-add-addable">
                        <div id="event_add_category" class="event-add-content-container">
                            <div class="event-add-content">
                                <div class="fa fa-close"></div>
                                <div class="event-add-sub-content event-add-searchable-content event-add-required">
                                    <div class="event-add-sub-content-input-container">
                                        <div class="event-add-content-input-parent"></div>
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name='event_cat_content1' placeholder="Event Category">
                                        <input class="event-add-sub-content-input event-add-input-hidden" type="hidden" name='event_cat_id_content1'>
                                    </div>
                                    <div class="event-add-search-box">
                                        <ul class="event-add-search-ul"></ul>
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Category must be selected</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-add-sub-sector-content-button">add button</div>
                    </div>
                </div>
            </div>
            <div class="event-add-sector">
                <div class="event-add-main-title event-add-required-title">Artist</div>
                <div class="event-add-sector-body">
                    <div class="event-add-sub-sector-container event-add-addable">
                        <div id="event_add_artist" class="event-add-content-container">
                            <div class="event-add-content event-add-addable-multiple">
                                <div class="fa fa-close"></div>
                                <div id="event_add_detail_event_image" class="event-add-content">
                                    <div class="event-add-sub-content">
                                        <div class="event-add-sub-title">Event Image</div>
                                        <div class="event-add-sub-content event-add-searchable-content">
                                            <div class="event-add-sub-content-input-container">       
                                                <div class="event-add-upload">
                                                    <div class="event-add-upload-label-container">
                                                        <label><i class="fa fa-upload"></i>Choose File...
                                                            <input class="event-add-sub-content-input event-add-input-img event-add-input-button" accept="image/*" type="file" name="event_artist_img_content1">
                                                        </label>
                                                    </div>
                                                    <div class="event-add-image-preview-list image-single"></div>
                                                </div>
                                            </div>
                                            <div class="alert-msg-container">
                                                <div class="alert-msg alert-msg-error alert-msg-error-type-file">Event title must not be empty or must be selected</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-searchable-content event-add-required">
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name='event_artist_content1' placeholder="Artist">
                                    </div>
                                    <div class="event-add-search-box">
                                        <ul class="event-add-search-ul">
                                        </ul>
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Artist must not be empty</div>
                                    </div>
                                </div>
                                <input id="test"class="event-add-sub-content-input event-add-input-hidden" type="hidden" name='event_artist_id_content1'>
                            </div>
                        </div>
                        <div class="event-add-sub-sector-content-button">add button</div>
                    </div>
                </div>
            </div>
            <div class="event-add-sector">
                <div class="event-add-main-title">Date</div>
                <div class="event-add-sector-body">
                    <div class="event-add-sub-sector-container event-add-addable">
                        <div id="category" class="event-add-content-container">
                            <div class="event-add-content event-add-addable-multiple">
                                <div class="fa fa-close"></div>
                                <div class="event-add-sub-content event-add-required event-add-sub-half">
                                    <div class="event-add-sub-title event-add-required-title">Start Date</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text date-start" type="text" name='event_start_date_content1' placeholder="dd/mm/yyyy" autocomplete="off"> 
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Stat date must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-required event-add-sub-half">
                                    <div class="event-add-sub-title event-add-required-title">End Date</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text date-end" type="text" name='event_end_date_content1' placeholder="dd/mm/yyyy" autocomplete="off">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">End date must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-required event-add-sub-half">
                                    <div class="event-add-sub-title event-add-required-title">Start Time</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name='event_start_time_content1' placeholder="ex)08:00pm">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Stat time must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-required event-add-sub-half">
                                    <div class="event-add-sub-title event-add-required-title">End Time</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name='event_end_time_content1' placeholder="ex)09:00pm">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">End time must not be empty</div>
                                    </div>
                                </div>
                                <div class="clear-both"></div>
                                <div class="event-add-sub-content">
                                    <div class="event-add-sub-title">Date Description</div>
                                    <div class="event-add-sub-content-input-container">
                                        <textarea class="event-add-sub-content-input event-add-input-text" name='event_date_description_content1' placeholder="Date Description"></textarea>
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Event description must not be empty</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-add-sub-sector-content-button">add button</div>
                    </div>
                </div>
            </div>
            <div class="event-add-sector">
                <div class="event-add-main-title">Place</div>
                <div class="event-add-sector-body">
                    <div id="event-place" class="event-add-sub-sector-container event-add-addable">
                        <div class="event-add-content-container">
                            <div class="event-add-content event-add-addable-multiple event-add-contain-google-map">
                                <div class="fa fa-close"></div>
                                <div class="event-add-sub-content event-add-searchable-content">
                                    <div class="event-add-sub-title">Place Search</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input id="event_place_search1" class="event-add-sub-content-input event-add-input-text event-place-search" type="text" placeholder="Place Search">
                                    </div>
                                    <div id='event_place_map1' class="event-add-content-place-map"></div>
                                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEpEB7aKAhd1FwGykhkQgGWnRKRntZ3ro&callback=initMap&libraries=places"
                                    async defer></script>
                                </div>
                                <div class="event-add-sub-content event-add-required event-add-sub-half">
                                    <div class="event-add-sub-title event-add-required-title">Latitude</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text place-lat" type="text" name='place_lat_content1' placeholder="0.00">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Latitude must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-required event-add-sub-half">
                                    <div class="event-add-sub-title event-add-required-title">Longitude</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text place-lng" type="text" name='place_lng_content1' placeholder="0.00">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Longitude must not be empty</div>
                                    </div>
                                </div>
                                <div class="clear-both"></div>
                                <div class="event-add-sub-content event-add-searchable-content">
                                    <div class="event-add-sub-title event-add-required-title">Address</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name='place_address1_content1' placeholder="Address1">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Address must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-searchable-content event-add-required">
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text place-address2" type="text" name='place_address2_content1' placeholder="Address2">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Address must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-searchable-content event-add-required">
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text place-city" type="text" name='place_city_content1' placeholder="City">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">City must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-searchable-content event-add-required">
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text place-state" type="text" name='place_state_content1' placeholder="State / Province">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">State / Province must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-searchable-content event-add-required">
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text place-zip" type="text" name='place_zip_content1' placeholder=" Zip / Post code">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Zip / Post code must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-searchable-content event-add-required">
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text place-country" type="text" name='place_country_content1' placeholder="Country">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Country must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content">
                                    <div class="event-add-sub-title">Place Description</div>
                                    <div class="event-add-sub-content-input-container">
                                        <textarea class="event-add-sub-content-input event-add-input-text" name='place_description_content1' placeholder="Place Description"></textarea>
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Event description must not be empty</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-add-sub-sector-content-button">add button</div>
                    </div>
                </div>
            </div>
            <div class="event-add-sector">
                <div class="event-add-main-title">Ticket</div>
                <div class="event-add-sector-body">
                    <div class="event-add-sub-sector-container">
                        <div id="category" class="event-add-content-container">
                            <div class="event-add-content">
                                <div class="event-add-sub-content">
                                    <div class="event-add-sub-title">Ticket Type</div>
                                    <div class="event-add-sub-content-input-container">
                                        <div class="event-add-input-radio-container">
                                            <input class="event-add-sub-content-input event-add-input-radio" type="radio" name="ticket_type" value="paid" checked><label>Paid</label>
                                        </div>
                                        <div class="event-add-input-radio-container">
                                            <input class="event-add-sub-content-input event-add-input-radio" type="radio" name="ticket_type" value="free"><label>Free - Ticketing Rquired but free</label>
                                        </div>
                                        <div class="event-add-input-radio-container">
                                            <input class="event-add-sub-content-input event-add-input-radio" type="radio" name="ticket_type" value="open"><label>Open - No Ticketing for the event</label>
                                        </div>
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Event description must not be empty</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event-add-sub-sector-container event-add-addable">
                        <div id="category" class="event-add-content-container">
                            <div class="event-add-content event-add-addable-multiple">
                                <div class="fa fa-close"></div>
                                <div class="event-add-sub-content event-add-required">
                                    <div class="event-add-sub-title event-add-required-title">Ticket Name</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name="ticket_name_content1" placeholder="Ticket Name">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Ticket name must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-required event-add-sub-half event-add-ticket-price">
                                    <div class="event-add-sub-title event-add-required-title">Currency</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name="ticket_currency_content1" placeholder="Ticket Currency">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Currency must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-required event-add-sub-half event-add-ticket-price">
                                    <div class="event-add-sub-title event-add-required-title">Price</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name="ticket_price_content1" placeholder="Ticket Price">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Price must not be empty</div>
                                    </div>
                                </div>
                                <div class="clear-both"></div>
                                <div class="event-add-sub-content event-add-required">
                                    <div class="event-add-sub-title event-add-required-title">Ticket Capacity</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name="ticket_capacity_content1" placeholder="Ticket Capacity">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Ticket Capacity must not be empty</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content">
                                    <div class="event-add-sub-title">Ticket Description</div>
                                    <div class="event-add-sub-content-input-container">
                                        <textarea class="event-add-sub-content-input event-add-input-text" name="ticket_desc_content1" placeholder="Ticket Description"></textarea>
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Event description must not be empty</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-add-sub-sector-content-button">add button</div>
                    </div>
                </div>
            </div>
            <div class="event-add-sector">
                <div class="event-add-main-title">URL</div>
                <div class="event-add-sector-body">
                    <div class="event-add-sub-sector-container event-add-addable">
                        <div id="category" class="event-add-content-container">
                            <div class="event-add-content event-add-addable-multiple">
                                <div class="fa fa-close"></div>
                                <div class="event-add-sub-content event-add-searchable-content">
                                    <div class="event-add-sub-title">URL</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name="url_content1" placeholder="Url">
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-searchable-content">
                                    <div class="event-add-sub-title">URL Type</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name="url_type_content1" placeholder="ex)twiter, facebook, booking page">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-add-sub-sector-content-button">add button</div>
                    </div>
                </div>
            </div>
            <div class="event-add-sector">
                <div class="event-add-main-title">Contact</div>
                <div class="event-add-sector-body">
                    <div class="event-add-sub-sector-container event-add-addable">
                        <div id="category" class="event-add-content-container">
                            <div class="event-add-content event-add-addable-multiple">
                                <div class="fa fa-close"></div>
                                <div class="event-add-sub-content event-add-searchable-content event-add-required">
                                    <div class="event-add-sub-title event-add-required-title">Contact Name</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name="contact_name_content1" placeholder="Contact Name">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Contact name must not be empty or must be selected</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-searchable-content event-add-required">
                                    <div class="event-add-sub-title event-add-required-title">Contact Description</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name="contact_desc_content1" placeholder="Contact Description">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Contact description must not be empty or must be selected</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-searchable-content event-add-required">
                                    <div class="event-add-sub-title event-add-required-title">Phone</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name="contact_phone_content1" placeholder="Contact Phone">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Phone must not be empty or must be selected</div>
                                    </div>
                                </div>
                                <div class="event-add-sub-content event-add-searchable-content">
                                    <div class="event-add-sub-title">Email</div>
                                    <div class="event-add-sub-content-input-container">
                                        <input class="event-add-sub-content-input event-add-input-text" type="text" name="contact_email_content1" placeholder="Contact Email">
                                    </div>
                                    <div class="alert-msg-container">
                                        <div class="alert-msg alert-msg-error alert-msg-error-type-empty">Contact must not be empty or must be selected</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-add-sub-sector-content-button">add button</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-submit-container">
            <button class="form-submit event-add-form-submit" type="submit">Submit</button>
        </div>
    </form>
</div>

<% include ./footer.ejs %>