<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beta</title>
    <link rel="stylesheet" type="text/css" href="/css/beta.css" />
    <script src="/js/library/jquery-3.4.1.min.js"></script>
    <script src="/js/library/jquery-ui.min.js"></script>
</head>
<body>
    <div class="event-add-sector">
        <div class="event-add-sector-content-container">
            <div class="event-add-sector-main-title">Main Title</div>
            <div class="event-add-sector-content">
                <div class="event-add-sector-sub-content-container event-add-required">
                    <div class="event-add-sector-sub-title">Sub Title</div>
                    <div class="event-add-sector-sub-content event-add-addable">
                        <div class="event-add-sector-sub-list">
                            <input class="event-add-input-text" type="text" name="">
                        </div>
                        <button>add button</button>
                    </div>
                </div>
                <div class="event-add-sector-sub-content-container">
                    <div class="event-add-sector-sub-title">Sub Title</div>
                    <div class="event-add-sector-sub-content event-add-single">
                        <div class="event-add-sector-sub-list event-add-error-active">
                            <input class="event-add-input-text" type="text" name="">
                        </div>
                    </div>
                </div>
                <div class="event-add-sector-sub-content-container">
                    <div class="event-add-sector-sub-title">Sub Title</div>
                    <div class="event-add-sector-sub-content event-add-with-contecnt">
                        <div class="event-add-sector-sub-list">
                            <input class="event-add-input-text" type="text" name="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>