</div>

<!-- Footer -->
<footer class="page-footer navbar-fixed-bottom">

    <div class="page-footer-container">
        <a href="#" target="_blank" class="fa fa-facebook"></a>
        <a href="#" target="_blank" class="fa fa-twitter"></a>
        <a href="#" target="_blank" class="fa fa-google"></a>
        <a href="#" target="_blank" class="fa fa-youtube"></a>
        <a href="#" target="_blank" class="fa fa-instagram"></a>
    </div>
    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>