<% include ./header.ejs %>

    <div id="profile-container">
        <div class="profile-img-container profile-content">
            <div class="profile-img-background" style="background: url(/img/profilesample.png);background-position: center;background-repeat: no-repeat;background-size: cover;"></div>
            
            <div class="profile-img-menu">
                <div class="profile-img-menu1">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="profile-img-menu-content">Home</div>
                                <i class="fa fa-home profile-img-menu-icon" style="color: tomato;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="profile-img-menu-content">Gallery</div>
                                <i class="fa fa-camera profile-img-menu-icon" style="color: tomato;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="profile-img-menu-content">Contact</div>
                                <i class="fa fa-phone profile-img-menu-icon" style="color: tomato;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="profile-img-menu-content">Teams & Friends</div>
                                <i class="fa fa-users profile-img-menu-icon" style="color: tomato;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="profile-img-menu-content">Events history</div>
                                <i class="fa fa-video-camera profile-img-menu-icon" style="color: tomato;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="profile-img-menu2">
                    <ul>
                        <li>
                            <div class="profile-img-menu-title">
                                <i class="fa fa-thumbs-up" style="color: tomato;"></i>
                            </div>
                            <div class="profile-img-menu-content">400</div>
                        </li>
                        <li>
                            <div class="profile-img-menu-title">
                                <i class="fa fa-user-plus" style="color: tomato;"></i>
                            </div>
                            <div class="profile-img-menu-content">400</div>
                        </li>
                        <li>
                            <div class="profile-img-menu-title">
                                <i class="fa fa-calendar" style="color: tomato;"></i>
                            </div>
                            <div class="profile-img-menu-content">400</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="profile-img">
                <img src="/img/profilesample.png">
            </div>
        </div>
        <div class="profile-title-container profile-content">
            <div class="profile-title">I Love Seulgi Too Much</div>
            <div class="profile-title-main-tag">@Seulgi-Jjing</div>
        </div>
        <div class="profile-main-container profile-content">
            <div class="profile-main">
                <div class="profile-about">
                    <div class="profile-about-title">
                        I am
                    </div>
                    <div class="profile-about-content">
                        Building a website is, in many ways, an exercise of willpower. It’s tempting to get distracted by the bells and whistles of the design process, and forget all about creating compelling content. It's that compelling content that's crucial to making inbound marketing work for your business. So how do you balance your remarkable content creation with your web design needs? It all starts with the "About Us" page.
                    </div>
                    <div class="profile-about-contact">
                    </div>
                </div>
                <div class="profile-list-container">
                    <ul class="profile-events-list">
                        <li class="profile-list">
                            <div class="profile-list-img-container">
                                <div class="profile-list-img-background" style="background: url(/img/sampleImage/img1.png);background-size: cover;"></div>
                                <div class="profile-list-img" style="background: url(/img/sampleImage/img1.png);background-size: contain;background-repeat: no-repeat;background-position: center;"></div>
                            </div>
                            <div class="profile-list-content">
                                <div class="profile-list-content-title">I love Seulgi Jjing, do you love her?</div>
                                <div class="profile-list-content-date">01 11 2019</div>
                                <div class="profile-list-content-cost">PAID</div>
                            </div>
                        </li>
                        <li class="profile-list">
                            <div class="profile-list-img-container">
                                <div class="profile-list-img-background" style="background: url(/img/sampleImage/img2.png);background-size: cover;"></div>
                                <div class="profile-list-img" style="background: url(/img/sampleImage/img2.png);background-size: contain;background-repeat: no-repeat;background-position: center;"></div>
                            </div>
                            <div class="profile-list-content">
                                <div class="profile-list-content-title">I love Seulgi Jjing, do you love her?</div>
                                <div class="profile-list-content-date">01 11 2019</div>
                                <div class="profile-list-content-cost">PAID</div>
                            </div>
                        </li>
                        <li class="profile-list">
                            <div class="profile-list-img-container">
                                <div class="profile-list-img-background" style="background: url(/img/sampleImage/img3.png);background-size: cover;"></div>
                                <div class="profile-list-img" style="background: url(/img/sampleImage/img3.png);background-size: contain;background-repeat: no-repeat;background-position: center;"></div>
                            </div>
                            <div class="profile-list-content">
                                <div class="profile-list-content-title">I love Seulgi Jjing, do you love her?</div>
                                <div class="profile-list-content-date">01 11 2019</div>
                                <div class="profile-list-content-cost">PAID</div>
                            </div>
                        </li>
                        <li class="profile-list">
                            <div class="profile-list-img-container">
                                <div class="profile-list-img-background" style="background: url(/img/sampleImage/img4.jpg);background-size: cover;"></div>
                                <div class="profile-list-img" style="background: url(/img/sampleImage/img4.jpg);background-size: contain;background-repeat: no-repeat;background-position: center;"></div>
                            </div>
                            <div class="profile-list-content">
                                <div class="profile-list-content-title">I love Seulgi Jjing, do you love her?</div>
                                <div class="profile-list-content-date">01 11 2019</div>
                                <div class="profile-list-content-cost">PAID</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<% include ./footer.ejs %>