<% include ./header.ejs %>
    <script type="text/javascript" src="js/login.js"></script>
    <% if(messages.error){ %>
        <%= messages.error %>
    <% } %>
    <div id="sign-in-up-table-container">
        <form action="/register/newUser" method="POST">
            <table>
                <tr>
                    <td colspan="2">
                        <h1>Create Account</h1>
                    </td>
                </tr>
                <tr class="sign-in-up-content">
                    <td colspan="2">
                        <div class="sign-in-up-content-input-container">
                            <i class="fa fa-envelope-o"></i>
                            <input class="sign-in-up-content-input" type="email" name="name" placeholder="Email" required="required">
                        </div>
                    </td>
                </tr>
                <tr class="sign-in-up-content">
                    <td colspan="2">
                        <div class="sign-in-up-content-input-container">
                            <i class="fa fa-address-card-o"></i>
                            <input type="text" name="name" placeholder="Name" required="required">
                        </div>
                    </td>
                </tr>
                <tr class="sign-in-up-content">
                    <td>
                        <div class="sign-in-up-content-input-container">
                            <i class="fa fa-unlock-alt register-pw-input-green"></i>
                            <input id="register-pw-input1" class="register-pw-input sign-in-up-content-input" type="password" name="pw" placeholder="••••••••" required="required">
                        </div>
                    </td>
                    <td>
                        <div class="sign-in-up-content-input-container">
                            <input id="register-pw-input2" class="register-pw-input" type="password" name="pc" placeholder="••••••••" required="required">
                            <i class="fa fa-eye-slash eye-icon"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="sign-in-up-content-input-msg">
                            <div>Use 8 or more characters with a mix of letters, numbers & symbols </div>
                        </div>
                        <div id="sign-in-up-content-input-pw-msg">
                            <div>Passwords are incorrect</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="sign-in-up-content-button">
                            <button type="submit">Register</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><br>or</td>
                </tr>
                <tr>
                    <td colspan="2"><br>Have an account? <a href="/login">login</a></td>
                </tr>
            </table>
        </form>
    </div>
    

<% include ./footer.ejs %>