<% include ./header.ejs %>
    <script type="text/javascript" src="js/login.js"></script>
    <% if(messages.error){ %>
        <%= messages.error %>
    <% } %>
    <div>
        <div id="sign-in-up-table-container">
            <form action="/register/newUser" method="POST">
                <table>
                    <tr>
                        <td colspan="2">
                                <img src="/img/logo.png" />
                        </td>
                    </tr>
                    <tr class="sign-in-up-content">
                        <td>email</td>
                        <td><input type="email" name="name" value="Email" required="required"></td>
                    </tr>
                    <tr class="sign-in-up-content-error">
                        <td colspan="2">error</td>
                    </tr>
                    <tr class="sign-in-up-content">
                        <td>name</td>
                        <td><input type="text" name="name" value="Name" required="required"></td>
                    </tr>
                    <tr class="sign-in-up-content-error">
                        <td colspan="2">error</td>
                    </tr>
                    <tr class="sign-in-up-content">
                        <td>ps</td>
                        <td><input type="password" name="pw" required="required"></td>
                    </tr>
                    <tr class="sign-in-up-content-error">
                        <td colspan="2">error</td>
                    </tr>
                    <tr class="sign-in-up-content">
                        <td>pc</td>
                        <td><input type="password" name="pw2" required="required"></td>
                    </tr>
                    <tr class="sign-in-up-content-error">
                        <td colspan="2">error</td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit">Register</button></td>
                    </tr>
                    <tr>
                        <td colspan="2">or</td>
                    </tr>
                    <tr>
                        <td colspan="2">Have an account? <a href="/login">login</a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    

<% include ./footer.ejs %>