<% include ./header.ejs %>
    <script type="text/javascript" src="js/login.js"></script>
    <% if(messages.error){ %>
        <%= messages.error %>
    <% } %>
    <div>
        <div id="sign-in-up-table-container">
            <form action="/register/newUser" method="POST">
                <table>
                    <tr>
                        <td>
                            <div class="sign-in-up-img-container">
                                <img src="/img/logo.png" />
                            </div>
                        </td>
                    </tr>
                    <tr class="sign-in-up-content">
                        <td>
                            <div class="sign-in-up-content-input-container">
                                <i class="fa fa-envelope-o"></i>
                                <input type="email" name="name" value="Email" required="required">
                            </div>
                        </td>
                    </tr>
                    <tr class="sign-in-up-content">
                        <td>
                            <div class="sign-in-up-content-input-container">
                                <i class="fa fa-address-card-o"></i>
                                <input type="text" name="name" value="Name" required="required">
                            </div>
                        </td>
                    </tr>
                    <tr class="sign-in-up-content">
                        <td>
                            <div class="sign-in-up-content-input-container">
                                <i class="fa fa-unlock-alt"></i>
                                <i class="fa fa-eye eye-icon"></i>
                                <input type="password" name="pw" value="password" required="required">
                            </div>
                        </td>
                    </tr>
                    <tr class="sign-in-up-content">
                        <td>
                            <div class="sign-in-up-content-input-container">
                                <i class="fa fa-unlock-alt"></i>
                                <i class="fa fa-eye-slash eye-icon"></i>
                                <input type="password" name="pw2" value="password" required="required">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="sign-in-up-content-button">
                                <button type="submit">Register</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>or</td>
                    </tr>
                    <tr>
                        <td>Have an account? <a href="/login">login</a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    

<% include ./footer.ejs %>