<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
  <title>Node File Uploads</title>
  <!--Library-->
  <script src="/js/library/jquery-3.4.1.min.js"></script>
  <script src="/js/library/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/js/test.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/test.css" />
</head>
<body>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <form id="myForm">
      <fieldset>
        <label>Name:</label>
        <input type="text" name="name" id="name" />
      </fieldset>
      <fieldset>
        <label>Formatted address:</label>
        <input type="text" name="formatted_address" id="formatted_address" />
      </fieldset>
      <fieldset>
        <label>URL to Google Maps:</label>
        <input type="text" name="url" id="url" />
      </fieldset>
      <fieldse.0t>
        <label>Latitude:</label>
        <input type="text" name="lat" id="lat" />
      </fieldset>
      <fieldset>
        <label>Longitude:</label>
        <input type="text" name="lng" id="lng" />
      </fieldset>
       <fieldset>
        <label>Website:</label>
        <input type="text" name="website" id="website" />
      </fieldset>     
    </form>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEpEB7aKAhd1FwGykhkQgGWnRKRntZ3ro&libraries=places&callback=initAutocomplete"
         async defer></script>
</body>
</html>