<% include ./header.ejs %>

    <script type="text/javascript" src="js/login.js"></script>
    <div id="profile-container">
        <div class="profile-img profile-content">this is img</div>
        <div class="profile-main-container profile-content">
            <div class="profile-main">Main</div>
        </div>
    </div>

<% include ./footer.ejs %>