<% include ./header.ejs %>

    <div id="profile-container">
        <div class="profile-img-container profile-content">
            <div class="profile-img-background" style="background: url(img/profilesample.png);background-position: center;background-repeat: no-repeat;background-size: cover;"></div>
            <div class="profile-img">
                <img src="img/profilesample.png">
            </div>
        </div>
        <div class="profile-title-container profile-content">
            <div class="profile-title">I Love Seulgi Too Much</div>
            <div class="profile-title-main-tag">@Seulgi</div>
        </div>
        <div class="profile-main-container profile-content">
            <div class="profile-main">
                <div class="profile-about"></div>
            </div>
        </div>
    </div>

<% include ./footer.ejs %>