/*basic setting*/
html,body {
	margin: 0;
	padding: 0;
}

/*body*/
#body-main {
}

/**
 * map page
 *
 */

/* Scroll to top button */
#scroll-up {
	z-index: 2;
	visibility: hidden;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	margin: 15px;
	text-align: center;
	opacity: 0.3;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

/* Mouse hover event */
#scroll-up:hover {
	opacity: 1;
}

/* 
 * Map and event info element 
 */
.map-content {
	width: 50%;
	float: left;
}

/* Event info and Google map container width and height */
@media only screen and (max-width: 750px) {
    .map-content {
		width: 100%;
		float: none;
    }
}

#map-main-container {
	width: 50%;
	height: calc(100% - 184px);
}

#map-info-container {
	height: calc(100% - 184px);
	position: relative;
}

@media only screen and (max-width: 750px) {
	#map-main-container {
		width: 100%;
		height: calc(100% - 81px);
	}
	
	#map-info-container {
		height: calc(100% - 62px);
	}
}

/* map info tag */
#map-info-tag {
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	z-index: 1;
}

#map-info-tag ul {
	padding: 0px;
	margin: 0px;
}

#map-info-tag li {
	font-weight: 500;
	text-align: center;
	width: 25%;
	padding-top: 5px;
	list-style: none;
	float: left;
}

.map-info-tag-content-title {
	padding: 0 10px;
	border: 2px solid black;
	border-radius: 10px 10px 0 0 ;
	font-size: 0.9em;
}

.map-info-tag-hider-container {
	top: -2px;
	position: relative;
	width: 100%;
	margin: 0 2px;
}

.map-info-tag-hider {
	width: calc(100% - 4px);
	height: 2px;
	background-color: white;
	position: absolute;
	display: none;
}

/* Map info content ( main, sort, histroy, info ) */
#map-info{
	top: -2px;
	border: 2px solid black;
	overflow-y: scroll;
	height: calc(100% - 38px);
	border-radius: 5px;
	position: relative;
}

.map-info-title {
	padding: 20px;
	font-weight: bold;
	font-size: 25px;
}

.map-info-body-container {
	padding: 0 20px;
	width: 100%;
}


/* Overflow map info scroll design */
#map-info::-webkit-scrollbar
{
    width: 5px;
}

#map-info::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
                                       left bottom,
                                       left top,
                                       color-stop(0.44, rgb(122,153,217)),
                                       color-stop(0.72, rgb(73,125,189)),
                                       color-stop(0.86, rgb(28,58,148)));
}

/* Map info content display none firt load */
.map-info-content {
	display: none;
	width: 100%;
}

/* Only map info main display */
#map-info-main {
	display: block;
}

/* Google map */
#map {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

#description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

/* Infowindow */
#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

/* Search box */
.pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin:12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 50%;
}

#pac-input:focus {
	border-color: #4d90fe;
}

/*title {
	color: #fff;
	background-color: #4d90fe;
	font-size: 25px;
	font-weight: 500;
	padding: 6px 12px;
}

#target {
	width: 345px;
}

#info
{
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 25px;
}*/

/**
 * Like Tab CSS 
 */
.map-info-body .map-info-body-ul {
	padding: 0;
	margin: 20px 0 0 0;
}

.map-info-body-li {
	margin-top: 25px;
	position: relative;
	border-top: 2px solid black;
	list-style: none;
	height: 10em;
}
.map-info-body-li::before, .map-info-body-li::after {
	content: " ";
	position: absolute;
	border: 2px solid black;
	width:20px;
	height:20px;
	border-radius: 10px;
	background-color: white;
	top:-11px;
}

.map-info-body-li::before {
	left:-11px;
}

.map-info-body-li::after {
	right:-11px;
}

.map-info-body .map-info-body-list-container {
	width: 150px;
	list-style: none;
	padding: 5px 20px;
	float: left;
	height: 100%;
}

.map-info-body .map-info-body-list {
	padding: 5px;
	padding-top: 8px;
	border: 2px solid #000000;
	background-color: white;
	width: 100%;
	height: 100%;
}

.map-info-body-list-img {
	height: 90px;
	border: 2px solid black;
}

.map-info-body-list-content {
	font-size: 0.9em;
}

.map-info-body-list-pin-container {
	position: relative;
	width: 100%;
}

.map-info-body-list-pin {
	position: absolute;
	top:-45px;
	left:0;
	right:0;
	margin-left: auto; 
	margin-right: auto; 
	height: 65px;
	width: 16px;
	border: 2px solid black;
	background-color: white;
}

.map-info-body-list-img img {
	width: 100%;
	height: 100%;
}

.map-info-body-list-title {
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.map-info-body-list-user {
	color: grey;
}

.map-info-body-content-container {
	width: calc(100% - 150px);
	list-style: none;
	padding: 5px;
	height: 100%;
	padding: 5px;
	float: left;
}

.map-info-body-content-content {
	height: 4.5em;
	overflow-y: hidden;
}

.map-info-body-content-title,.map-info-body-content-user {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.map-marker, .map-info-body-id {
	cursor: pointer;
}

/*map marker infowindow*/
.map-marker {
	width: 150px;
}
.map-marker-title {
	font-weight: bold;
}
.map-marker-user {
	color: grey;
}
.map-marker-img img {
	width: 100%;
}