@import url("map.css"); /* Map CSS */
@import url("footer.css"); /* Map CSS */
@import url("profile.css"); /* Map CSS */
@import url("signinup.css"); /* Map CSS */

html, body{
    width: 100%;
}

.float-clear-both {
    clear:both;
}

#body-main {
	margin-top: 56px;
    min-height: calc(100vh - 182px);
}

form {
	margin: 0;
}

/*.event-add-content-title-upload {
	width: 180px;
	margin: 0 auto;
	border-radius: 15px;
	color: grey;
	text-align: center;
	border: 1px solid grey;
}

.event-add-content-title-upload:hover {
	color: white;
	background-color: grey;
}

.event-add-content-title-upload i{
	padding: 0;
	margin: 0;
	margin-right: 10px;
	height: auto;
	width: auto;
	font-size: 1em;
}



.event-add-content-title-upload label{
	width: 100%;
	margin: 0;
	padding: 5px;
	cursor: pointer;
}
.event-add-content-title-upload input[type="file"] { 
	display: none
}


.event-add-container {
	width: 80%;
	margin: 0 auto;
}

.event-add-content {
	position: relative;
}

.event-add-content-container .fa-close {
	margin: 1px;
	position: absolute;
	right: 0;
	cursor: pointer;
	display: none;
	margin: 11px 0;
}

.event-add-content-text input, .event-add-content-textarea textarea{
	border: 0;
	width: 220px;
	background-color: transparent;
	outline: none;
	padding: 18px;
	border: 1px solid grey;
	border-radius: 31px;
	width: 100%;
	margin: 10px 0;
}

.event-add-content-text input:focus{
	outline: none;
}

.event-add-content-text-half input {
	width: 50%;
	float: left;
}

.event-add-sector {
	padding: 10px;
}

.event-add-content-title-image-preview-container {
	padding: 15px 0;
}

.event-add-content-title-image-preview {
	width: 200px;
	height: 150px;
	float: left;
}

.event-add-content-title-image-preview-desc {
	padding-left: 10px;
	display: none;
	width: calc(100% - 200px);
	float: left;
}

.event-add-content-title-image-preview-title {
	font-weight: bold;
}

.event-add-content-title-image-preview-content {
	word-break:break-all;
}


@media only screen and (max-width: 500px) {
	.event-add-content-title-image-preview {
		width: 100%;
		float: none;
		height: 200px;
	}

	.event-add-content-title-image-preview-desc {
		width: 100%;
		float: none;
	}
}

.event-add-title {
	font-weight: bold;
}

.event-add-sub-title {
	font-weight: bold;
	padding: 20px 20px 0 25px;
}

.event-add-error {
	display: none;
	background-color: #ff4444;
	color: white;
	margin: 5px 18px;
	padding: 18px 10px;
}

.event-add-error-active {
	border-color: #ff4444 !important;
}

.event-add-content-button {
	display: inline-block;
	padding: 18px;
	border: 1px solid grey;
	border-radius: 31px;
}

.event-add-content-category-parent {
	font-size: x-small;
	color: gray;
	position: absolute;
	padding: 18px 0 0 19px;
}

.event-add-content-search-container ul {
	margin: 0;
	padding: 0;
}


.event-add-content-search-container li {
	list-style: none;
}

.event-add-content-category-search-parent {
	font-size: smaller;
	color: grey;
}

.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker {
	background-color: white; 
}

.ui-datepicker-prev, .ui-datepicker-next {
	width: 1.5em;
	height: 1.5em;
	position: absolute;
}

.ui-datepicker-prev .ui-icon, .ui-datepicker-next .ui-icon {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

 .ui-datepicker-next {
	right: 0;
}

.event-add-required::after {
	content:'*';
	color: #e86100;
}

.event-add-content-img {
	padding: 18px;
	border: 1px solid grey;
	border-radius: 31px;
}

.note-frame {
	border-radius: 31px;
	padding: 0 18px;
	background-color: white;
	margin: 10px 0;
}

.note-toolbar {
	border-bottom: 1px solid grey;
}

.note-toolbar, .panel-heading, .note-editable {
	padding: 0 !important;
}

.note-editing-area {
	position: relative;
	min-height: 200px;
	padding: 10px 0;
}

.note-editable {
	min-height: 200px;
}

.note-editable img {
	width: 100% !important;
}

.note-statusbar {
	background-color: transparent !important;
}

.event-add-content-place-map {
	width: 100%;
	height: 300px;
}*/


.float-clear-both {clear:both;}

.event-add-container {
    width: 95%;
    max-width: 700px;
	margin: 0 auto;
	padding: 15px 0;
}

.event-add-sector {
    margin: 30px 0;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 30px;
    position: relative;
}

.event-add-main-title, .event-add-sub-title {
    font-weight: bold;
}

.event-add-main-title {
    color: grey;
    background-color: white;
    padding: 0 10px;
    top: -20px;
    position: absolute;
    font-size: 1.5em;
    font-weight: bold;
}

.event-add-required-title::after {
    content: '*';
    color: #ff4444;
}

.event-add-sub-title {
    font-size: 1.2em;
    padding: 10px 20px;
}

.event-add-content {
    margin: 10px auto;
}

.event-add-addable-multiple {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 32px;
}

.event-add-addable .fa-close{
    margin: 4px;
    position: absolute;
    padding: 20px;
    padding-right: 40px;
    right: 0;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.event-add-addable .fa-close:hover{
    color: grey;
}

.event-add-sub-content {
    margin: 10px 0;
    position: relative;
}

.event-add-sub-half {
	width: 50%;
	float: left;
}

.event-add-sub-content-input-container {
    width: 100%;
    border: 1px solid grey;
    padding: 18px;
    border-radius: 32px;
    position: relative;
}

.event-add-sub-content-input-container input{
    width: 100%;
    border: none;
}

.event-add-addable input {
    width: calc(100% - 30px);
}

.event-add-sub-content-input-container input:focus{
    outline: none;
}

.event-add-sub-content-input-container textarea{
    width: 100%;
	border: none;
	min-height: 100px;
}

.event-add-sub-content-input-container textarea:focus{
    outline: none;
}

.event-add-input-radio {
	padding: 5px !important;
	width: auto !important;
}
.event-add-input-radio-container label {
	margin: 5px;
}

.event-add-search-box {
    z-index: 1;
    padding: 0 30px;
    position: absolute;
    width: 100%;
    display: none;
}
.event-add-search-ul{
    border: 1px solid gray;
    border-top: none;
    background-color: white;
    padding: 0;
    max-height: 150px;
	overflow-y: scroll;
}

.event-add-search-li{
    list-style: none;
    cursor: pointer;
	padding: 10px;
	position: relative;
}

.event-add-search-li:hover{
    background-color: #ececec;
}

.event-add-content-input-parent {
	font-size: x-small;
	color: gray;
	position: absolute;
	top:5px;
}

.event-add-search-content-parent {
	font-size: x-small;
	color: gray;
	position: absolute;
	top:1px;
}

.event-add-content-category-search-parent {
	font-size: smaller;
	color: grey;
}

.alert-msg {
	display: none;
	color: white;
	margin: 5px 18px;
    padding: 18px 10px;
    border-radius: 5px;
}

.alert-msg-active-error {
    border-color: #ff4444;
}

.alert-msg-error {
	background-color: #ff4444;
}

.alert-msg-error::before {
    content: '[WARNING] ';
}

.event-add-sub-sector-content-button {
    background-color: #007FFF;
    border: 1px solid #007FFF;
    padding: 18px;
    border-radius: 32px;
    display: inline-block;
    margin: 10px auto;
    cursor: pointer;
    color: white;
}

.event-add-sub-sector-content-button:hover {
    background-color: white;
    color: #007FFF;
}

.form-submit-container {
    width: 100%;
    padding: 20px;
}

.form-submit {
    width: 100%;
    background-color: #007FFF;
    border: 1px solid #007FFF;
    height: 64px;
    cursor: pointer;
    border-radius: 32px;
    color: white;
}

.form-submit:hover {
    background-color: white;
    color: #007FFF;
}


.event-add-upload {
	width: 100%;
	margin: 0 auto;
	border-radius: 15px;
}

.event-add-upload-label-container {
    text-align: center;
}

.event-add-image-preview-list {
    min-height: 180px;
}

.event-add-upload i{
	padding: 0;
	margin: 0;
	margin-right: 10px;
	height: auto;
	width: auto;
	font-size: 1em;
}

.event-add-upload label{
	width: 180px;
	margin: 0;
	padding: 18px;
    cursor: pointer;
	color: white;
    background-color:#007FFF;
    border: 1px solid #007FFF;
    border-radius: 32px;
}

.event-add-upload label:hover{
	color: #007FFF;
    background-color:white;
}

.event-add-upload input[type="file"] { 
	display: none
}

.event-add-image-preview-container {
    padding: 15px 0;
    position: relative;
}

.event-add-image-preview-container .fa-close {
    display: none;
    padding: 4px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.event-add-image-preview {
    background-position: center;
    background-size: contain;
	width: 200px;
	height: 150px;
	float: left;
}

.event-add-image-preview-desc {
	padding-left: 10px;
	width: calc(100% - 200px);
	float: left;
}

.event-add-image-preview-title {
	font-weight: bold;
}

.event-add-image-preview-content {
	word-break:break-all;
}


@media only screen and (max-width: 500px) {
    .event-add-image-preview-list {
        min-height: 326px;
    }

    .event-add-image-preview-container .fa-close {
        padding: 0;
    }

	.event-add-image-preview {
		width: 100%;
		float: none;
		height: 200px;
	}

	.event-add-image-preview-desc {
		width: 100%;
		float: none;
	}
}