@import url("map.css"); /* Map CSS */
@import url("footer.css"); /* Map CSS */

html, body{
    width: 100%;
}

.float-clear-both {
    clear:both;
}

#body-main {
	margin-top: 56px;
    min-height: calc(100vh - 182px);
}

form {
	margin: 0;
}

/* login register */
#sign-in-up-table-container {
	width: 300px;
	margin: 0 auto;
	padding: 10px 0;
}

.sign-in-up-content-input-container {
	margin: 10px 0;
	border: 1px solid black;
	border-radius: 31px;
}

#sign-in-up-table-container input{
	border: 0;
	width: 220px;
	background-color: transparent;
}

#sign-in-up-table-container input:focus{
	outline: none;
}

.sign-in-up-img-container {
	width: 100%;
	margin: 40px 0;
} 

.sign-in-up-img-container img {
	display: block;
	width: 150px;
	margin: 0 auto;
}

#sign-in-up-table-container table {
	width: 100%;
}

#sign-in-up-table-container tr {
	margin: 5px;
}

#sign-in-up-table-container td {
	position: relative;
	text-align: center;
}

#sign-in-up-table-container td i{
	margin: 0;
}

.sign-in-up-content-error {
	display: none;
}

.sign-in-up-content-button button {
	background-color: white;
	width: 100%;
	margin: 10px 0;
	border: 1px solid black;
	border-radius: 31px;
	height: 60px;
}

#sign-in-up-table-container .register-pw-input {
	width: 50%;
}

.register-pw-input-red {
	background-color: red;
	border: 1px solid red;
}


.register-pw-input-green {
	background-color: green;
	border: 1px solid green;
}

#register-pw-input2 {
	text-align: right;
}

.sign-in-up-content-input-msg {
	display: none;
}

#sign-in-up-content-input-pw-msg {
	display: none;
}

.login-pw-eye-icon {
	position: absolute;
	right: 0;
}

#sign-in-up-table-container .login-in-input {
	width: 220px;
}

.animated-icon2 .profile-img-container {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	border: 1px solid snow;
	overflow: hidden;
}

.animated-icon2 .profile-img-container img {
	width: 100%;
}

#profile-container {
	position: relative;
	max-width: 880px;
	width: 80%;
	margin: 0 auto;
	padding: 60px 0;
	height: calc(100% - 182px);
}

.profile-img {
	position: absolute;
	background-color: blue;
	width: 250px;
	height: 400px;
}

.profile-main-container {
	padding-left: 150px;
	padding-top: 100px;
	height: 100%;
}

.profile-main {
	background-color: yellow;
	height: 100%;
}