@import url("map.css"); /* Map CSS */

html, body{
    width: 100%;
}

.float-clear-both {
    clear:both;
}

footer {
    
}

.clear-both {
    width: 100%;
    clear: both;
    list-style: none;
}

.enter-space {
    visibility: hidden;
}

.text-align-right {
    text-align: right;
}