/* Icon 1 */
html, body {
    height: 100%;
}

.profile-container {
    height: 100%;
    padding: 100px;
}

.profile {
    border: 1px solid tomato;
    height: 100%;
}

.profile-img-container {
    position: relative;
    width: 250px;
    height: auto;
}

.profile-img-main {
    width: 100%;
    position: absolute;
    left:-50px;
    top:-50px;
}

.profile-img-background {
    width: 100%;
    visibility: hidden;
}

.profile-img-menu-container {
    width: 100%;
    height: 100%;
    background-color:white;
    border-bottom: 1px solid tomato;
    border-right: 1px solid tomato;
}

